:root {
  --black: #000000;
  --white: #ffffff;
  --silver: #f6f6f6;
}

html,
body {
  height: 100%;
}

.my-popup {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 15px 20px;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.my-popup.show {
  opacity: 1;
  visibility: visible;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
}

.burger__btn {
  position: relative;
  display: none;
  border: none;
  cursor: pointer;
  width: 28px;
  height: 22px;
}

.burger__btn svg rect {
  position: absolute;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.burger__btn.active svg rect:first-child {
  transform: rotate(45deg) translate(3px, -3px);
  -webkit-transform: rotate(45deg) translate(3px, -3px);
  -moz-transform: rotate(45deg) translate(3px, -3px);
  -ms-transform: rotate(45deg) translate(3px, -3px);
  -o-transform: rotate(45deg) translate(3px, -3px);
}

.burger__btn.active svg rect:nth-child(2) {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

.burger__btn.active svg rect:last-child {
  transform: rotate(-45deg) translate(-14px, -3px);
  -webkit-transform: rotate(-45deg) translate(-14px, -3px);
  -moz-transform: rotate(-45deg) translate(-14px, -3px);
  -ms-transform: rotate(-45deg) translate(-14px, -3px);
  -o-transform: rotate(-45deg) translate(-14px, -3px);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
}

/* HEADER SECTION */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 109px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 0px 0px 40px 40px;
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  width: 255px;
}

.menu {
  flex-grow: 1;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* .menu__list-link span {
  display: table-cell;
} */

.menu__list-link {
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  /* display: inline-block; */
}

.menu__list-link:hover {
  font-size: 15px;
  font-weight: 600;
}

.social-icons__list {
  margin-right: 60px;
  display: flex;
  gap: 30px;
}

.select-language {
  position: relative;
  font-weight: 600;
}

.select-language__list {
  position: absolute;
  font-weight: 300;
  max-height: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.select-language__list-item {
  cursor: pointer;
}

.select-language__list-item:not(:first-child) {
  margin-top: 20px;
}

.select-language__list.active {
  padding-top: 20px;
  max-height: 100%;
  visibility: visible;
  /* background-color: var(--white); */
  /* padding: 20px; */
}
/* HERO SECTION */

.hero {
  padding-top: 109px;
  background-color: var(--silver);
  padding-bottom: 100px;
}

.hero__offer {
  padding-top: 67px;
  max-width: 585px;
}

.hero__inner {
  position: relative;
  /* display: flex;
  justify-content: space-between; */
  margin-top: 80px;
}

.hero__offer-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
}

.hero__offer-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 45px 0;
  max-width: 620px;
}

.hero__offer-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
}

.hero__offer-btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border: 3px solid red;
  border-radius: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
}

.hero__offer-btn:hover::before {
  width: 100%;
}

.hero__offer-btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.hero-img__wrapper {
  position: absolute;
  top: 0px;
  right: -35px;
}

.hero-img {
  width: 700px;
  position: relative;
}

.hero-img__ellipse {
  position: absolute;
  display: grid;
  place-items: center;
  text-align: center;
  font-weight: 600;
  width: 141px;
  height: 141px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #fff;
  color: var(--black);
  border: 3px solid #ff1e1e;
  top: 273px;
  left: 505px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.hero-img__ellipse p {
  font-weight: 600;
}

.hero-img__ellipse:hover {
  width: 160px;
  height: 160px;
}

/* APPLICATION SECTION */

.application {
  padding: 130px 0;
  background-color: var(--silver);
}

.application__inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/boots-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 80px 0;
}

.application__title {
  max-width: 789px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--white);
}

.application__text {
  color: var(--white);
  margin: 56px 0;
  max-width: 664px;
}

.application__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
}

.application__btn:not(:first-child) {
  margin-left: 20px;
}

.application__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.application__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--silver);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.application__btn:hover::before {
  width: 100%;
}

/* ABOUT SECTION */

.about {
  padding: 80px 0;
}

.about__inner {
  display: flex;
  justify-content: space-between;
}

.about__info {
  max-width: 530px;
}

.about__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

.about__text {
  margin: 56px 0;
}

.about__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
  margin-top: 60px;
}

.about__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.about__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.about__btn:hover::before {
  width: 100%;
}

.about__list b {
  font-weight: 600;
}

.about__list-item {
  position: relative;
  margin-top: 24px;
  padding-left: 44px;
}

.about__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url("../images/icon-check.svg");
  width: 24px;
  min-width: 0;
  height: 24px;
}

.about__slider {
  min-width: 0;
  width: 49%;
}

.about__slider-item {
  position: relative;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 30px;
  width: 783px;
  height: 584px;
  margin: 0 20px;
  overflow: hidden;
}

.about__slider .slick-track {
  padding: 15px 0;
}

.slider-item-img {
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  right: 0;
  /* height: 100%; */
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.slider-item-img img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.about__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.about__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.about__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.slider__item-info {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  min-height: 128px;
}

.info__name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info__social a {
  position: relative;
  padding-left: 48px;
  color: rgba(0, 0, 0, 0.8);
}

.info__social a::before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
  background-image: url("../images/instagram.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 38px;
  height: 38px;
}

/* UKRAININAN-HEROES SECTION */

.ukrainian-heroes {
  background-color: var(--silver);
  padding: 130px 0;
}

.ukrainian-heroes__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.ukrainian-heroes__slider {
  text-align: center;
}

.ukrainian-heroes__slider-item {
  margin: 0 20px;
}

.ukrainian-heroes__slider-item b,
.ukrainian-heroes__slider-item p {
  display: none;
}

.ukrainian-heroes__slider-item b {
  margin: 30px 0 10px;
}

.ukrainian-heroes__slider-link {
  width: 400px;
}
.ukrainian-heroes__slider-link img {
  width: 100%;
}

.ukrainian-heroes__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.ukrainian-heroes__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.ukrainian-heroes__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.ukrainian-heroes__slider-link {
  display: inline-block;
  max-width: 500px;
}

.ukrainian-heroes__btn-wrapper {
  text-align: center;
}

.ukrainian-heroes__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
  margin-top: 60px;
}

.ukrainian-heroes__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.ukrainian-heroes__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.ukrainian-heroes__btn:hover::before {
  width: 100%;
}

/* PSIHOLOGICAL SUPPORT */

.psyhological-support {
  background-color: var(--silver);
  padding-bottom: 130px;
}

.psyhological-support__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.psyhological-support__slider {
  min-width: 0;
}

.psyhological-support__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.psyhological-support__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.psyhological-support__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.psyhological-support__slider-inner {
  display: flex;
  justify-content: space-between;
}
.psyhological-support__slider-item {
  margin: 12px 30px;
  min-width: 0;
  background-color: var(--white);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 30px;
}

.psyhological-support__slider-item .slider-item__info {
  width: 50%;
  padding: 80px 81px 78px;
}

.psyhological-support__slider-item .slider-item__info .slider-item__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 56px;
}

.psyhological-support__slider-item .slider-item__info .slider-item__text {
  margin-bottom: 20px;
}

.psyhological-support__slider-item .slider-item__info .slider-item__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 56px;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}

.psyhological-support__slider-item .slider-item__img {
  width: 50%;
  background-image: url("../images/psyhological-support-img-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.psyhological-support__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
  margin-top: 70px;
}

.psyhological-support__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.psyhological-support__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.psyhological-support__btn:hover::before {
  width: 100%;
}

/* PARTNERS SECTION */

.partners {
  background-color: var(--silver);
  padding-bottom: 130px;
}

.partners__inner {
  padding: 80px 0 110px;
  background-color: var(--white);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
}

.partners__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.partners__slider .slick-arrow.slick-disabled {
  opacity: 0.5;
}

.partners__slider .slick-arrow {
  position: absolute;
  top: -100px;
  right: 0;
  font-size: 0;
  background-image: url("../images/right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 15px;
}

.partners__slider .slick-prev {
  right: 60px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.partners__slider-item {
  margin: 0 25px;
}

.partners__slider-item p {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.partners__slider-item:hover p {
  opacity: 1;
  visibility: visible;
}

.partners__slider-item img {
  width: 160px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
}

/* INSTAGRAM SECTION */

.instagram {
  background-color: var(--silver);
  padding-bottom: 130px;
}

.instagram__inner {
  position: relative;
  /* display: flex; */
  /* justify-content: space-between; */
}

.instagram__img {
  display: inline-block;
  position: absolute;
  right: -230px;
}

.instagram__img img {
  width: 566px;
}

.instagram__info {
  background-color: var(--white);
  padding: 80px 80px 80px 64px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  max-width: 962px;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  display: inline-block;
  margin: 140px 0;
}

.instagram__info-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.instagram__info-text {
  margin-bottom: 24px;
}

.instagram__info-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
  margin-top: 60px;
}

.instagram__info-btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.instagram__info-btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.instagram__info-btn:hover::before {
  width: 100%;
}

/* SUPPORT-WOMEN SECTION */

.support-women {
  padding-bottom: 130px;
  background-color: var(--silver);
}

.support-women__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  margin-bottom: 56px;
}

.support-women__btn-wrapper {
  text-align: center;
}

.support-women__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
  margin-top: 48px;
}

.support-women__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.support-women__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border: 3px solid red;
  border-radius: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
}

.support-women__btn:hover::before {
  width: 100%;
}

/* FOOTER SECTION */

.footer {
  padding: 80px 0 41px;
  background: rgba(0, 0, 0, 0.8);
  color: #fffbfa;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 45px;
}

.footer a {
  color: #fffbfa;
  font-size: 14px;
  line-height: 18px;
}

.footer h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fffbfa;
}

.footer__contacts-list li,
.footer__nav-list li {
  margin-top: 20px;
}

.footer__help-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
}

.footer__help-btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.footer__help-btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: var(--black);
  box-shadow: 0px -2px 12px rgba(136, 136, 136, 0.13);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.footer__help-btn:hover::before {
  width: 100%;
}

.footer__logo {
  margin-bottom: 66px;
  display: inline-block;
}

.footer__logo img {
  width: 255px;
}

.footer__privacy-policy {
  margin: 20px 0;
  display: inline-block;
}

.footer__social-icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 64px;
  min-height: 68px;
  /* text-align: end; */
}

.footer__bottom .language button {
  color: #fff;
}

.footer__bottom .language .select-language__list {
  color: #fff;
}

/* MARIUPOL PAGE */
/* PROJECT SECTION */

.project {
  padding-top: 128px;
  padding-bottom: 121px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/mariupol-bg.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
}

.project__ellips {
  position: absolute;
  width: 880px;
  height: 880px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: var(--black);
  top: 128px;
  left: 0;
  filter: blur(325px);
  z-index: 1;
}

.project__offer {
  position: relative;
  margin-top: 192px;
  margin-bottom: 171px;
  color: var(--white);
  max-width: 800px;
  z-index: 2;
}

.project__title {
  font-weight: 600;
  font-size: 56px;
  line-height: 68px;
}

.project__text {
  margin: 56px 0;
  max-width: 380px;
}

.project__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
}

.project__btn span {
  margin-left: 20px;
}

.project__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: var(--white);
  box-shadow: 0px -2px 12px rgba(136, 136, 136, 0.13);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.project__btn:hover::before {
  width: 100%;
}

/* .project__status {
  position: relative;
  color: var(--white);
  z-index: 10;
}

.project__status-title {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.project__number {
  display: flex;
  align-items: end;
}

.project__number p span {
  margin: 0 20px;
  color: #e7e7e7;
  font-weight: 600;
}

.project__number b {
  margin-left: 20px;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

.project__status-bar {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: #bcbaba;
  margin: 19px 0;
}

.project__current-status-bar {
  position: relative;
  height: 12px;
  background-color: var(--white);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  width: 35%;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}

.project__current-status-bar::after {
  position: absolute;
  content: "";
  width: 44px;
  height: 44px;
  top: -38px;
  right: 0;
  background-color: #a6a6a6;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
} */

/* ABOUT-PROJECT SECTION */

.about-project {
  position: relative;
  background-color: var(--silver);
  padding: 130px 0;
  z-index: 10;
}

.about-project__inner {
  display: flex;
  justify-content: space-between;
  min-width: 0;
  gap: 20px;
}

.about-project__content {
  max-width: 620px;
}

.about-project__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.about-project__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  margin-top: 56px;
}

.about-project__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.about-project__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border: 3px solid red;
  border-radius: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
}

.about-project__btn:hover::before {
  width: 100%;
}

.about-project__slider {
  width: 50%;
  /* padding: 12px; */
}

.about-project__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.about-project__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.about-project__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.about-project__img {
  padding: 14px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.about-project__img img {
  width: 100%;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* GOAL SECTION */

.goal {
  padding: 100px 0;
  background-color: var(--white);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
}

.goal__inner {
  display: flex;
  justify-content: space-between;
  gap: 170px;
}

.goal__slider {
  width: 50%;
}

.goal__slider-item {
  /* width: 100%; */
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.goal__slider-item img {
  /* width: 100%; */
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  object-fit: contain;
}

.goal__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.goal__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.goal__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.goal__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 56px;
}

.goal__content {
  max-width: 620px;
}

.goal__content b {
  margin: 24px 0;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.goal__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  margin-top: 56px;
}

.goal__btn span {
  margin-left: 20px;
  vertical-align: middle;
}

.goal__btn::before {
  position: absolute;
  content: "";
  width: 63px;
  height: 63px;
  border: 3px solid red;
  border-radius: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
}

.goal__btn:hover::before {
  width: 100%;
}

/* RENNOVATION SECTION */

.rennovation {
  padding: 170px 0;
  background-color: var(--silver);
}

.rennovation__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 70px;
}

.rennovation__plan-circles {
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
}

.rennovation__plan-circles div {
  width: 243px;
  height: 243px;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  background-color: var(--white);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.rennovation__plan-1 {
  display: flex;
  justify-content: space-between;
}

.rennovation__plan-2 {
  display: flex;
  justify-content: space-evenly;
}

.rennovation__plan-item {
  max-width: 340px;
  display: flex;
}

.rennovation__plan-item .number {
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
  color: #a6a6a6;
  margin-right: 30px;
}

.rennovation__plan-item .title h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 10px;
}

/* .rennovation__plan-item.item-1 {
  display: flex;
} */

/* VIDEO SECTION */

.video {
  background-color: var(--silver);
  padding-bottom: 130px;
}

.video__inner {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  background-color: #5f5f5f;
  min-height: 614px;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--white);
}

.video__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 20px;
}

.play__btn {
  display: inline-block;
}

.video__title-wrapper img {
  margin: 0 auto;
  margin-top: 52px;
}

/* PAYMENT PAGE */
/* ACCORDION SECTION */

.accordion {
  padding-top: 128px;
  background-color: var(--silver);
}

.accordion__inner {
  margin-top: 46px;
}

.back__btn {
  font-weight: 600;
  color: #a6a6a6;
}

.back__btn span {
  margin-right: 10px;
}

.accordion__title {
  margin: 30px 0;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--black);
}

.payment-for-mariupol {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.payment-for-mariupol span {
  margin-right: 12px;
}

.accordion__items {
  padding: 70px 0 85px;
}

.accordion__item {
  position: relative;
  padding: 20px 32px;
  background-color: var(--white);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.accordion__item:not(:first-child) {
  margin-top: 30px;
}

.accordion__item h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  flex-grow: 1;
  /* margin-bottom: 20px; */
}

.accordion__item .item__title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.payments-img {
  max-height: 40px;
  display: flex;
  gap: 15px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  min-width: 168px;
}

.payments-img img {
  /* max-width: 126px; */
  margin: 0 auto;
  object-fit: contain;
}

.accordion__item.active .item__title .payments-img {
  position: absolute;
  bottom: 25px;
  right: 40px;
}

.accordion__item.active .item__title .img-cross {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.img-cross {
  animation-name: translate;
  animation-duration: 3s;
  display: grid;
  place-items: center;
  margin-left: 398px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.item__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
/* 
.item__content p:not(span) {
  font-weight: 600;
} */

.item__content p {
  position: relative;
  margin-top: 20px;
  max-width: 80%;
  width: fit-content;
  padding-right: 44px;
}

.item__content p:not(:first-child)::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-image: url("../images/copy-icon.svg");
  right: 0;
  top: 0;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.item__content p:hover::after {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  background-image: url("../images/copy-icon.svg");
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
}

.item__content p b {
  margin-right: 20px;
}

.item__content p span {
  position: relative;
}

.bank {
  display: block;
  margin: 20px 0 50px;
  color: #a6a6a6;
}

.number {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #1f5eaa;
}

/* HELP SECTION */

.help {
  padding: 68px 0 130px;
  background-color: var(--silver);
  min-height: 1165px;
}

.help__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.help__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--black);
  margin-bottom: 56px;
}

.help__list {
  margin-top: 80px;
}

.help__list-item:not(:first-child) {
  margin-top: 60px;
}

.help__list-item {
  position: relative;
  font-weight: 600;
  padding-left: 36px;
}

.help__list-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 14px;
  top: 3px;
  left: 0;
  transition: all 0.3s ease;
  background-image: url("../images/chewron.svg");
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.help__list-item.active::before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.item__sub-list {
  font-weight: 300;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.item__sub-list.active {
  margin-top: 45px;
  max-height: 100%;
  overflow: visible;
}

/* .help__list-item.active + ul.item__sub-list {
  margin-top: 45px;
  overflow: visible;
  background-color: red;
} */

.item__sub-list-element:not(:first-child) {
  margin-top: 20px;
}

.help__address {
  position: absolute;
  right: 0;
  top: 0;
  padding: 80px 62px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  background-color: var(--white);
  display: inline-block;
  box-shadow: 0px 0px 12px 3px rgba(209, 209, 209, 0.25);
}

.address__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 56px;
}

.help__address img {
  margin-bottom: 56px;
}

.address__text b {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;
}

.address__text p {
  margin-bottom: 20px;
  color: #000000;
}

.address__text p span {
  margin-right: 20px;
}

.address__text a {
  color: #000000;
}

.hours-work {
  position: relative;
  font-weight: 600;
  border-bottom: 1px solid #000;
}

/* REPROTS SECTION */

.reports {
  padding-bottom: 130px;
  background-color: var(--silver);
}

.reports__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--black);
  margin-bottom: 56px;
}

.reports__slider {
  /* min-width: 0; */
  /* display: flex; */
  margin-bottom: 130px;
  /* gap: 30px; */
}

.reports__slider-item {
  margin: 0 20px;
}

.reports__slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.reports__slider .slick-prev {
  z-index: 10;
  left: 0;
  left: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
}

.reports__slider .slick-next {
  right: 0;
  right: -20px;
  font-size: 0;
  background-image: url("../images/arrow.svg");
  width: 8px;
  height: 14px;
  transform: rotate(180deg) translateY(50%);
  -webkit-transform: rotate(180deg) translateY(50%);
  -moz-transform: rotate(180deg) translateY(50%);
  -ms-transform: rotate(180deg) translateY(50%);
  -o-transform: rotate(180deg) translateY(50%);
}

.reports__slider-item img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 0 auto;
  max-width: 283px;
}

.reports-bottom__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: var(--black);
  text-align: center;
}

/* ADAPTIVE */

@media (max-width: 1190px) {
  .header {
    transition: all 0.3s ease;
    max-height: 170px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  .header__inner {
    flex-direction: column;
    padding: 50px 35px;
  }
  .header__logo-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }
  .burger__btn {
    display: block;
  }
  .menu {
    width: 100%;
  }
  .social-icons {
    width: 100%;
    margin: 20px 0;
  }
  .social-icons__list {
    margin-right: 0;
    justify-content: end;
  }
  ul.menu__list {
    flex-direction: column;
    align-items: end;
    gap: 20px;
  }
  .language {
    margin-left: auto;
  }
  .hero,
  .project,
  .accordion {
    padding-top: 168px;
  }
  .hero {
    padding-bottom: 130px;
  }
  .hero__inner {
    margin-top: 70px;
  }
  .hero__offer {
    padding-top: 0px;
  }
  /* .hero__offer-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
  } */
  .hero-img__wrapper {
    position: static;
    margin-top: 45px;
    text-align: center;
  }
  .hero-img__inner {
    position: relative;
    display: inline-block;
  }
  .hero-img__wrapper img {
    position: relative;
    margin: 0 auto;
  }
  .application {
    padding: 0 0 130px;
  }
  .application__inner {
    padding: 70px 0;
  }
  .application__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .application__text {
    display: none;
  }
  .about {
    padding: 70px 0;
  }
  .about__inner {
    display: block;
  }
  .about__title {
    font-size: 34px;
    line-height: 41px;
  }
  .about__text {
    margin: 45px 0;
  }
  .about__list-item {
    margin-top: 20px;
  }
  .about__btn {
    margin-top: 50px;
    margin-bottom: 45px;
  }
  .about__slider {
    width: 100%;
  }
  /* .about__slider {
    text-align: start;
  } */

  .ukrainian-heroes__slider {
    text-align: start;
  }

  .about__slider-item {
    overflow: hidden;
    width: 495px;
    height: 600px;
  }
  .ukrainian-heroes__slider-item b,
  .ukrainian-heroes__slider-item p {
    display: block;
    /* text-align: start; */
  }
  .ukrainian-heroes__slider-link img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }
  /* .psyhological-support {
    padding-bottom: 70px;
  } */
  .psyhological-support__title {
    display: none;
  }
  .psyhological-support {
    display: none;
  }
  .partners__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .partners__inner {
    padding: 70px 0;
  }
  .instagram {
    padding-bottom: 0;
  }
  .instagram__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .instagram__info {
    margin: 0px;
  }
  .instagram__info-title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .instagram__info-btn {
    margin-top: 45px;
  }
  .instagram__img {
    /* display: inline-block; */
    position: static;
    width: 100%;
    /* right: -230px; */
  }
  .instagram__img img {
    margin: 0 auto;
  }
  .support-women__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .support-women__btn {
    margin-top: 0px;
  }
  /* .project__title {
    font-size: 40px;
    line-height: 49px;
  } */
  .project__offer {
    margin-top: 100px;
    margin-bottom: 0px;
  }
  .about-project__inner {
    flex-direction: column;
    gap: 45px;
  }
  .about-project__title,
  .goal__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .about-project__btn {
    margin-top: 45px;
  }
  .about-project__slider {
    width: 100%;
  }
  .goal {
    padding: 70px 0;
  }
  .goal__inner {
    flex-direction: column-reverse;
    gap: 45px;
  }
  .goal__slider {
    width: 100%;
  }
  .video__inner {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .accordion__title {
    margin: 20px 0;
    font-size: 34px;
    line-height: 41px;
  }
  .accordion__items {
    padding: 45px 0 130px;
  }
  .accordion__item {
    min-height: 100px;
  }
  .help {
    padding: 0 0 130px;
  }
  .accordion__item h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .accordion__item .item__title .payments-img {
    position: absolute;
    /* bottom: 25px; */
    /* right: 40px; */
    bottom: 10px;
    left: 10px;
  }
  .img-cross {
    margin-left: 0;
  }
  .help {
    padding: 60px 0 130px;
  }
  .help__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .help__list {
    margin-top: 0px;
  }
  .help__inner {
    flex-direction: column;
    gap: 45px;
  }
  .help__address {
    position: static;
    /*margin-top: 45px;
    */
    padding: 70px 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
  }
  .help__list-item:not(:first-child) {
    margin-top: 45px;
  }
  .item__sub-list.active {
    margin-top: 30px;
  }
  .reports__title {
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 45px;
  }
  .reports-bottom__title {
    font-size: 34px;
    line-height: 41px;
  }
}

@media (max-width: 576px) {
  .hero__offer-title {
    font-size: 50px;
    line-height: 61px;
  }
  .hero-img {
    width: 100%;
  }
  .hero-img__ellipse {
    left: auto;
    right: 15px;
    top: 200px;
    width: 110px;
    height: 110px;
  }
  .hero-img__ellipse:hover {
    width: 130px;
    height: 130px;
  }
  .footer {
    position: relative;
  }
  .footer__inner {
    flex-direction: column;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* gap: 45px; */
  }
  .footer__logo {
    margin-bottom: 0px;
  }
  .footer__logo img {
    width: 164px;
  }
  .footer__info {
    order: -2;
  }
  .footer__social {
    order: -1;
  }
  .footer__social-icons {
    justify-content: start;
  }
  .footer__copyright-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 24px;
    text-align: center;
  }
  .footer__bottom {
    margin-top: 100px;
  }
  .about__slider-item {
    overflow: hidden;
    width: 265px;
    height: 356px;
  }
  .slider__item-info {
    flex-direction: column;
    align-items: start;
    padding: 11px 17px;
    min-height: 95px;
    gap: 10px;
  }
  .info__social a {
    font-size: 14px;
    line-height: 17px;
    padding-left: 30px;
  }
  .info__social a::before {
    top: -1px;
    width: 20px;
    height: 20px;
  }
  .info__name {
    font-size: 14px;
    line-height: 17px;
  }
  .instagram {
    overflow-x: hidden;
  }
}

@media (max-width: 426px) {
  .hero-img__ellipse {
    top: 150px;
    font-size: 14px;
    width: 90px;
    height: 90px;
  }
  .hero-img__ellipse:hover {
    width: 110px;
    height: 110px;
  }
  .instagram__img img {
    width: 130%;
  }
  .instagram__info {
    padding: 0;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    background-color: var(--silver);
    box-shadow: none;
  }
}
@media (max-width: 376px) {
  .header {
    max-height: 73px;
    min-height: 70px;
  }
  .header__inner {
    flex-direction: column;
    padding: 18px 15px;
  }
  .header__logo-wrapper {
    margin-bottom: 25px;
  }
  .header__logo img {
    width: 122px;
  }
  .hero {
    padding-top: 73px;
    padding-bottom: 73px;
  }
  .hero__offer-title {
    font-size: 30px;
    line-height: 36px;
  }
  .hero__offer-text {
    margin: 30px 0;
  }
  .application {
    padding: 0 0 73px;
  }
  .application__btn {
    margin-top: 10px;
  }
  .instagram__info-btn {
    margin-top: 21px;
  }
  .hero__offer-btn,
  .application__btn,
  .ukrainian-heroes__btn,
  .about__btn,
  .instagram__info-btn,
  .support-women__btn,
  .footer__help-btn {
    font-size: 14px;
    line-height: 17px;
    padding: 13px 18px;
  }
  .hero__offer-btn::before,
  .application__btn::before,
  .ukrainian-heroes__btn::before,
  .about__btn::before,
  .instagram__info-btn::before,
  .support-women__btn::before,
  .footer__help-btn::before {
    width: 45px;
    height: 45px;
  }
  .hero__offer-btn span,
  .application__btn span,
  .ukrainian-heroes__btn span,
  .about__btn span,
  .instagram__info-btn span,
  .support-women__btn span,
  .footer__help-btn span {
    margin-left: 10px;
  }
  .application__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 35px;
  }
  .about__title {
    font-size: 26px;
    line-height: 32px;
  }
  .ukrainian-heroes {
    padding: 73px 0 130px;
  }
  .ukrainian-heroes__title,
  .instagram__info-title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 45px;
  }
  .partners {
    padding-bottom: 40px;
  }
  .partners__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 54px;
  }
  .partners__slider-item {
    margin: 0 15px;
  }

  .support-women__title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .footer__bottom {
    margin-top: 250px;
  }
  .footer__copyright-wrapper {
    left: 16px;
    /* right: 0; */
    bottom: 170px;
    text-align: start;
  }
  .footer {
    padding: 80px 0 40px;
    background: rgba(0, 0, 0, 0.8);
    color: #fffbfa;
  }
}
