:root {
  --black: #000000;
  --white: #ffffff;
  --silver: #f6f6f6;
}

html,
body {
  height: 100%;
}

body {
  /* overflow-y: hidden; */
  overflow-x: hidden;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.container {
  max-width: 1627px;
  margin: 0 auto;
  padding: 0 16px;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  padding: 0;
}

/* HEADER SECTION */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 128px;
  background: #ffffff;
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  border-radius: 0px 0px 40px 40px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
}

.header__logo {
  display: inline-block;
}

.menu {
  flex-grow: 1;
}

.menu__list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.menu__list-link {
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.8);
}

.social-icons__list {
  margin-right: 60px;
  display: flex;
  gap: 30px;
}

/* HERO SECTION */

.hero {
  padding-top: 128px;
  background-color: var(--silver);
  padding-bottom: 100px;
}

.hero__offer {
  padding-top: 67px;
  max-width: 793px;
}

.hero__inner {
  position: relative;
  /* display: flex;
  justify-content: space-between; */
  margin-top: 100px;
}

.hero__offer-title {
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
}

.hero__offer-text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  margin: 70px 0;
  max-width: 620px;
}

.hero__offer-btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
}

.hero__offer-btn::before {
  position: absolute;
  content: "";
  width: 68px;
  height: 68px;
  border: 3px solid red;
  border-radius: 50px;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  -webkit-box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  box-shadow: 0px 0px 12px 5px rgba(136, 136, 136, 0.25);
  left: 0;
  top: 0;
}

.hero__offer-btn:hover::before {
  width: 100%;
}

.hero__offer-btn span {
  margin-left: 20px;
}

.hero-img {
  position: absolute;
  top: -18px;
  right: -110px;
}

/* BOOTS SECTION */

.application {
  padding: 170px 0;
  background-color: var(--silver);
}

.application__inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/boots-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
}

.application__title {
  max-width: 789px;
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  color: var(--white);
}

.application__text {
  color: var(--white);
  margin: 70px 0;
  max-width: 664px;
}

.application__btn {
  position: relative;
  display: inline-block;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.8);
  padding: 22px 36px;
  z-index: 2;
}

.application__btn span {
  margin-left: 20px;
}

.application__btn::before {
  position: absolute;
  content: "";
  width: 68px;
  height: 68px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--silver);
  left: 0;
  top: 0;
  z-index: -1;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.application__btn:hover::before {
  width: 100%;
}
